---
// Root: redirect to ES by default.
---
<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/es/" />
    <link rel="canonical" href="/es/" />
  </head>
  <body>
    <a href="/es/">Go to site</a>
    <script>
      try {
        const stored = localStorage.getItem('nexo_sites_locale');
        if (stored === 'en') window.location.replace('/en/');
        else window.location.replace('/es/');
      } catch(e) {
        window.location.replace('/es/');
      }
    </script>
  </body>
</html>
